.grid 
  margin auto
  width 1220px
  height 600px
  border 2px solid blue


.ui-grid-grid-footer
	background #00d9ff

.ui-grid-viewport
	background lightblue

.ui-grid-scrollbar-placeholder {
    display: none;
}

.ui-grid-cell-contents
	text-align center